#p1{
    width: 100px;
    height: 100px;
    background: red;
    font-size: 85px;
    text-align:center;
    margin: 50px;
    padding: 50px;

}

#p1:hover{
    animation: myFont;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#p1:active{
    animation: myRotateAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*@keyframes myColorAnimation{
    from{background-color: red;}
    to{background-color: blue;}
}*/

@keyframes myColorAnimation{
    0%{background-color: red;}
    20%{background-color: orange;}
    40%{background-color: yellow;}
    60%{background-color: green;}
    80%{background-color: blue;}
    100%{background-color: purple;}
}

@keyframes myRotateAnimation{
    /*100%{transform: rotateX(360deg);}*/
    /*100%{transform: rotateY(360deg);}*/
    100%{transform: rotateZ(360deg);}
}

@keyframes myTranslata {
    50%{transform: translate(100px,100px);}
}

@keyframes myScale{
    50%{transform: scale(3,2);}
}

@keyframes myOpacity{
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes myFont {
    0%{font-size: 85px;}
    50%{font-size: 400px;}
    100%{font-size: 85px;}
}