/*
<!-- text-alignment-->
p{
    border: 1px solid;
    width: 250px;
}
#p1{
    text-align: left;
}

#p2{
    text-align: center;
}

#p3{
    text-align: right;
}
*/
/*
img{
    float:left;
    margin: 5px;
}
div{
    border: 1px solid;
    width: 500px;
}
*/
/*
h1{
    border: 1px solid;
    background: yellow;
    width: 200px;

    position: fixed;
    /* fixed in place within viewport*/
    /*position: relative;*/
    /* relative to it's normal position*/
    /*position: sticky;*/
    /* sticks to viewport when scrolling*/
    /*position: static;*/
    /* default*/

    /* top: 0px;
       left:50px; 


}
*/

#box1{
    position: relative;
    background-color: lightgray;
    width: 200px;
    height: 200px;
    border: 1px solid;

    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#box2{
    position: absolute;
    /* position relative to it's positioned ancestor*/
    /* relative to the viewport
    (otherwise relative to viewport)*/
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 1px solid;

    top: 50px;
    left: 50px;
}


