p{
    width: 100px;
    background: red;
    font-size: 85px;
    text-align: center;
    margin: 0px;
}

#p2{
   /* transform: translateX(50px); X축 중심으로 3d이동*/
   /* transform: translateY(-0px); Y축 중심으로 3d이동*/
   /* transform: translate(50px,50px); X,Y축 중심으로 3d이동 */
   /* transform: rotateX(180deg); X축 중심으로 3d회전*/
   /* transform: rotateY(180deg); Y축 중심으로 3d회전*/
   /* transform: rotateZ(180deg); Z축 중심으로 3d회전*/
   /* transform: rotate(180deg); */
   /* transform: scaleX(0.5); X축 중심으로 3d크기*/
   /* transform: scaleY(); Y축 중심으로 3d크기*/
   /* transform: scale(2,2); X,Y축 중심으로 3d크기 */
   /* transform: skewY(45deg); Y축 중심으로 비틀기*/
   /* transform: skewX(45deg); X축 중심으로 비틑기*/

   transform: matrix(0,0,0,0,0,0);
   /*
    scaleX(),
    skewY(),
    skewX(),
    scaleY(),
    translateX(),
    translateY()
    */
}